
header.pages_header.row
	div.col-xs-12
		span.escape / &#62;
		span.thirdpage_headerText TESTIMONIALS
		span.escape &#93;  &#125;  //
		p.fourthpage_text Navigatori di lungo corso


section.pages_section.row
	div.col-xs-offset-8.col-xs-4
		div.fifthpage_p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum tortor et ipsum feugiat ultricies. In ut porta diam. In viverra sem massa, vitae malesuada est condimentum a. Praesent mi sem, hendrerit vel ligula condimentum, mollis dapibus diam. Sed a nisi porta odio ullamcorper consequat id vel magna. Proin cursus sapien sed orci facilisis, id bibendum nisl interdum. Aliquam in lorem eget purus laoreet dignissim in facilisis diam. Morbi vel nulla ex. Sed ut congue nisi. Aenean congue dui nec nisl lacinia ultrices. Sed pretium euismod tellus id auctor. Vestibulum varius quam a mi pharetra tincidunt. Integer turpis ligula, dignissim id neque vulputate, venenatis tincidunt purus. Mauris dapibus arcu a justo aliquam hendrerit. Aliquam tincidunt viverra felis. Praesent tortor nisi, posuere id dignissim id, tincidunt ac sem.