
div.row
	div.col-xs-12
		div.firstpage_company_logo

div.row
	div.col-xs-3.firstpage_textcontainer
		span.escape &#60;
		div.firstpage_text 
				| La nostra storia comincia sempre dal futuro. Nel luogo di ciò che sarà la realtà quando la vostra immaginazione avrà conosciuto l’attracco sicuro.
		span.escape /&#62;