
div.row
	div.col-xs-12
		div.firstpage_company_logo

div.row
	div.col-xs-offset-1.col-xs-3
		div.firstpage_text
			| La nostra storia comincia sempre dal futuro. Nel luogo di ciò che sarà la realtà quando la vostra immaginazione avrà conosciuto l’attracco sicuro.