
header.pages_header.row
	div.col-xs-12
		span.escape &#62; //  &#62;  
		span.thirdpage_headerText CASE HISTORY
		span.escape &#93;  &#125;  //  &#62;  /
		p.fifthpage_text La rotta giusta


section.pages_section.row