
div.row
	div.col-xs-3.secondpage_textcontainer
		span.escape &#60;
		div.secondpage_text 
				| Siamo la tecnologia invisibile che fa funzionare la vostra quotidianità. Ricercatori, progettisti e sviluppatori di soluzioni Web elastiche, applicativi mobile oriented e infrastrutture cloud al supporto delle aziende. vi affianchiamo per una consulenza globale in outsourcing e per l'operatività evoluta sui vostri sistemi e piattaforme.
		span.escape /&#62;

div.row
	div.col-xs-offset-9.col-xs-2.secondpage_textcontainer2.secondpage_text2
		| Un faro che non vedi ma che illumina la via