
header.pages_header.row
	div.col-xs-12
		div.escape
			span &#91; 
			span.thirdpage_escape_2 &#125;  
			span.thirdpage_escape_3 &#62;
			span.thirdpage_headerText I SERVIZI
			span.thirdpage_escape_4 &#62; 
			span.thirdpage_escape_5 /


section.pages_section.row
	
	div.col-xs-4
		div.row
			div.col-xs-12.thirdpage_col
				h3.thirdpage_title
					| Servizi di Hosting
				p.thirdpage_p
					| Offriamo un’infrastruttura affidabile, costantemente operativa nei servizi e scalabile in qualsiasi momento per supportare la crescente attività del vostro sito web o della piattaforma e-commerce
				div.thirdpage_imges.thirdpage_img1
				

	div.col-xs-4
		div.row
			div.col-xs-12.thirdpage_col
				h3.thirdpage_title
					| Gestione infrastrutture Cloud
				p.thirdpage_p
					| Pianifichiamo e gestiamo il trasferimento di interi Data Center, infrastrutture di rete o singoli server verso l’ambiente cloud di Amazon AWS per esternalizzare la complessità tecnologica dell'azienda riducendone e controllandone i costi.
				div.thirdpage_imges.thirdpage_img2


	div.col-xs-4
		div.row
			div.col-xs-12.thirdpage_col
				h3.thirdpage_title
					| Mobile Apps
				p.thirdpage_p
					| Programmiamo app dedicate alle principali esigenze business o personalizzate per le aziende, sviluppando grafica, esperienza d’uso e definendo lo sviluppo tecnico nei linguaggi nativi di tutte le piattaforme.
				div.thirdpage_imges.thirdpage_img3