extends layout

block headscript

	//- if (environment == 'development')
	!= CDN('/js/app.js')
	!= CDN('/js/constants.js')

	!= CDN('/js/components/sections/morning.component.js')
	!= CDN('/js/components/sections/day.component.js')
	!= CDN('/js/components/sections/afternoon.component.js')
	!= CDN('/js/components/sections/evening.component.js')
	!= CDN('/js/components/sections/night.component.js')

	!= CDN('/js/factories/weather.factory.js')
	!= CDN('/js/factories/coordinates.factory.js')

	!= CDN('/js/services/weather.service.js')
	!= CDN('/js/services/coordinates.service.js')
	//- else
	//- 	!= CDN('/dist/js/intermek.admin.min.js')

	script(type="text/ng-template",id="/sections/morning.html")
		include components/sections/morning
	script(type="text/ng-template",id="/sections/day.html")
		include components/sections/day
	script(type="text/ng-template",id="/sections/afternoon.html")
		include components/sections/afternoon
	script(type="text/ng-template",id="/sections/evening.html")
		include components/sections/evening
	script(type="text/ng-template",id="/sections/night.html")
		include components/sections/night

block bodycontent
	//- Strutturare da qui la pagina
	
	
	//-section-morning()
	section-day()
	//-section-afternoon()
	//-section-evening()
	//-section-night()
		
block footer
	