extends layout

block headscript

	//- if (environment == 'development')
	!= CDN('/js/app.js')
	//- else
	//- 	!= CDN('/dist/js/intermek.admin.min.js')

block bodycontent
	//- Strutturare da qui la pagina
		
block footer
