extends layout

block headscript

	meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

	//- if (environment == 'development')
	!= CDN('/js/app.js')
	!= CDN('/js/constants.js')

	//- Components
	!= CDN('/js/components/sections/day.component.js')
	!= CDN('/js/components/sections/evening.component.js')
	!= CDN('/js/components/sections/night.component.js')
	!= CDN('/js/components/sections/morning_afternoon.component.js')

	//- Controllers
	!= CDN('/js/controllers/main.controller.js')
	!= CDN('/js/controllers/index.controller.js')

	//- Factories
	!= CDN('/js/factories/weather.factory.js')
	!= CDN('/js/factories/coordinates.factory.js')

	//- Services
	!= CDN('/js/services/weather.service.js')
	!= CDN('/js/services/coordinates.service.js')

	//- else
	//- 	!= CDN('/dist/js/intermek.admin.min.js')

	
	script(type="text/ng-template",id="/sections/morning-afternoon.html")
		include components/sections/morning-afternoon
	script(type="text/ng-template",id="/sections/day.html")
		include components/sections/day
	script(type="text/ng-template",id="/sections/evening.html")
		include components/sections/evening
	script(type="text/ng-template",id="/sections/night.html")
		include components/sections/night


block bodycontent

	div(ng-controller='indexController')

		div(ng-switch on='moment')
			div.morning(ng-switch-when='morning')
				section-morning-afternoon()
			div.day(ng-switch-when='day')
				section-day()
			div.afternoon(ng-switch-when='afternoon')
				section-morning-afternoon()
			div.evening(ng-switch-when='evening')
				section-evening()
			div.night(ng-switch-when='night')
				section-night()