doctype
html(lang="it",ng-app="MoloWebsite")
	head
		title #{title}

		//- include meta/favicon
		!= CDN('/bower_components/angular/angular.min.js')
		!= CDN('/bower_components/flexboxgrid/css/flexboxgrid.min.css')
		!= CDN('/bower_components/jquery/dist/jquery.min.js')

		!= CDN('/stylesheets/reset.css')
		!= CDN('/stylesheets/style.css')

		block headscript

	body()

		block bodycontent
		
		footer
			block footer
