doctype
html(lang="it",ng-app="MoloWebsite")
	head
		title #{title}

		//- include meta/favicon

		link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet', type='text/css')
		!= CDN('/bower_components/angular/angular.min.js')
		!= CDN('/bower_components/flexboxgrid/css/index.min.css')
		!= CDN('/bower_components/jquery/dist/jquery.min.js')
		!= CDN('/bower_components/ngGeolocation/ngGeolocation.js')
		!= CDN('/bower_components/angular-cookies/angular-cookies.js')

		!= CDN('/stylesheets/reset.css')
		!= CDN('/stylesheets/reset.css')
		!= CDN('/stylesheets/style.css')

		block headscript

	body()

		block bodycontent
