doctype
html(lang="it",ng-app="MoloWebsite")
	head
		title MOLO17 - Soluzioni Web Elastiche, Mobile Apps e Cloud per le aziende
		meta(name='description', content='Soluzioni Mobile, Web Hosting, gestione infrastrutture Cloud, offriamo consulenza e supporto al vostro business.')

		link(rel="mask-icon", href="/images/lc_home_icon.svg", color="#e30613")
			
		include meta/favicon

		//-Author
			link(rel='author', href='http://goo.gl/3h5hiz')
		//-Author XFN
			a(href='https://plus.google.com/[YOUR PERSONAL G+ PROFILE NUMBER]', rel='me')
		//-Ownership
			link(rel='publisher', href='https://staging.molo17.com')

		//-FB meta tags
			meta(property='og:title', content='iAcquire’s awesome blog')
			meta(property='og:type', content='article')
			meta(property='og:image', content='http://www.iacquire.com/some-thumbnail.jpg')
			meta(property='og:url', content='http://blog.iacquire.com')
			meta(property='og:description', content='Stop hitting refresh on your ex-girlfriend’s Facebook page? You should check out the iAcquire blog and learn something instead')
			meta(property='fb:admins', content='USER_ID')

		//-Twitter meta tags
			meta(name='twitter:card', content='summary')
			meta(name='twitter:url', content='http://www.nytimes.com/2012/02/19/arts/music/amid-police-presence-fans-congregate-for-whitney-houstons-funeral-in-newark.html')
			meta(name='twitter:title', content='Parade of Fans for Houston’s Funeral')
			meta(name='twitter:description', content='NEWARK – The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here')
			meta(name='twitter:image', content='http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg')

		//-Google+ meta tags
			itemscope='[pageType]'
			itemprop='name'
			itemprop='description'
			itemprop='image'



		//- include meta/favicon

		link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet', type='text/css')
		!= CDN('/bower_components/angular/angular.min.js')
		!= CDN('/bower_components/flexboxgrid/css/index.min.css')
		!= CDN('/bower_components/jquery/dist/jquery.min.js')
		!= CDN('/bower_components/ngGeolocation/ngGeolocation.js')
		!= CDN('/bower_components/angular-cookies/angular-cookies.js')
		!= CDN('/bower_components/angular-translate/angular-translate.min.js')

		!= CDN('/stylesheets/reset.css')
		!= CDN('/stylesheets/reset.css')
		!= CDN('/stylesheets/style.css')

		block headscript

	body()

		block bodycontent
