@-webkit-keyframes rotateOut
	0%
		-webkit-transform-origin center
		transform-origin center
		opacity 1

	20%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, 20deg)
		transform rotate3d(0, 0, 1, 20deg)

	40%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, -20deg)
		transform rotate3d(0, 0, 1, -20deg)

	100%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, 0deg)
		transform rotate3d(0, 0, 1, 0deg)

@-moz-keyframes rotateOut
	0%
		-webkit-transform-origin center
		transform-origin center
		opacity 1

	20%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, 20deg)
		transform rotate3d(0, 0, 1, 20deg)

	40%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, -20deg)
		transform rotate3d(0, 0, 1, -20deg)

	100%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, 0deg)
		transform rotate3d(0, 0, 1, 0deg)

@keyframes rotateOut
	0%
		-webkit-transform-origin center
		transform-origin center
		opacity 1

	20%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, 20deg)
		transform rotate3d(0, 0, 1, 20deg)

	40%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, -20deg)
		transform rotate3d(0, 0, 1, -20deg)

	100%
		-webkit-transform-origin center
		transform-origin center
		-webkit-transform rotate3d(0, 0, 1, 0deg)
		transform rotate3d(0, 0, 1, 0deg)