bt_headerBackgroundColor = #fff
bt_headerTextColor = #2ecc71
bt_callToActionNormalBackgroundColor = #f9f9f9
bt_callToActionBackgroundColor = #2ecc71
bt_headerBorderColor = #ddd

// @import url("../fonts/TradeGothicLTStd/TradeGothicLTStd-Regular.css")	
// @import url("../fonts/TradeGothicLTStd-Bd2/TradeGothicLTStd-Bd2.css")
// @import url("../fonts/LCFont/LCFont.css")

bt_standardFontFamily = "Arial"
bt_boldFontFamily = "Arial"

main-color = #5179bc
backgroundColor = #ffffff
selected-color = #e30613
companyColor = #004c98
companyColorHover = #fff
grigioScuro = #838485
grigioChiaro = #bababb
grigio = #333333
lc_green = #2ecc71
lc_flat_white = #EEF3F3
lc_flat_white_dark = #BDC4C7
lc_flat_red = #e84d3c
lc_flat_red_dark = #C0392A
lc_flat_black = #2B2B2B
lc_flat_forest_green = #335e40
lc_flat_teal = #3A7082
lc_flat_gold = #FFD700
lc_flat_skyblue = #3499DC
lc_flat_skyblue_dark = #2880BA
lc_flat_gray_dark = #7E8B8C
loginBackgroundUrl = "/images/login-background.jpg"


.bt-action-background-color
	background-color companyColor
.bt-action-background-color-hover
	background-color companyColorHover

.bt-action-color
	color black
.bt-action-color-hover
	color black
