.hi-icon
	display inline-block
	font-size 0px
	cursor pointer
	border-radius 50%
	text-align center
	position relative
	z-index 1
	color #fff

.hi-icon-effect-8
	margin 0px 0px !important
	width 100px !important
	height 100px !important

.selected
	.hi-icon-effect-8
		background rgba(255,255,255,0.1)

		-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
		-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
		transition: transform ease-out 0.1s, background 0.2s;

		&:after

			pointer-events none
			position absolute
			width 100%
			height 100%
			border-radius(50%)
			content ''
			box-sizing(content-box)

			top 0
			left 0
			padding 0
			z-index -1
			box-shadow 0 0 0 2px rgba(255,255,255,0.1)
			opacity 0

			lc-scale(0.9)

			-webkit-animation: sonarEffect 1.3s ease-out 15ms;
			-moz-animation: sonarEffect 1.3s ease-out 15ms;
			animation: sonarEffect 1.3s ease-out 15ms;
		
		// &:hover
			// background: rgba(255,255,255,0.05);
			// -webkit-transform: scale(0.93);
			// -moz-transform: scale(0.93);
			// -ms-transform: scale(0.93);
			// transform: scale(0.93);

			// color #fff
			
			// &:after

			// 	-webkit-animation: sonarEffect 1.3s ease-out 15ms;
			// 	-moz-animation: sonarEffect 1.3s ease-out 15ms;
			// 	animation: sonarEffect 1.3s ease-out 15ms;

@css {
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #BDC4C7, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #BDC4C7, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #BDC4C7	, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #BDC4C7	, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #BDC4C7	, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #BDC4C7	, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
}