.hi-icon
	display inline-block
	font-size 0px
	cursor pointer
	margin 0px 0px
	width 38px
	height 38px
	border-radius(50%)
	text-align center
	position relative
	z-index 1
	color #fff

.hi-icon
	&:after
		pointer-events none
		position absolute
		width 100%
		height 100%
		border-radius 50%
		content ''
		// -webkit-box-sizing content-box 
		// -moz-box-sizing content-box 
		box-sizing(content-box)

.hi-icon
	&:before
		font-family 'ecoicon'
		speak none
		font-size 48px
		line-height 90px
		font-style normal
		font-weight normal
		font-variant normal
		text-transform none
		display block
		-webkit-font-smoothing antialiased

/* Effect 2 */
.hi-icon-effect-2 
	.hi-icon
		color #fff
		background-color white
		box-shadow 0 0 0 3px #fff
		// -webkit-transition color 0.3s
		// -moz-transition color 0.3s
		transition(color 0.3s)

.hi-icon-effect-2 
	.hi-icon
		&:after
			top -2px
			left -2px
			padding 2px
			z-index -1
			// -webkit-transition -webkit-transform 0.2s, opacity 0.2s
			// -moz-transition -moz-transform 0.2s, opacity 0.2s
			transition(transform 0.2s, opacity 0.2s)

		&.collections-action-icon-trash
			&:after
				background lc_flat_red
		&.collections-action-icon-export
			&:after
				background lc_flat_forest_green
		&.collections-action-icon-add-integration
			&:after
				background companyColor
		&.collections-action-icon-rename
			&:after
				background lc_flat_teal
		&.collections-action-icon-changecolor
			&:after
				background lc_flat_white

/* Effect 2a */
.hi-icon-effect-2a 
	.hi-icon
		border 2px solid transparent
		
		&.collections-action-icon-trash
			&:hover
				border-color lc_flat_red
		&.collections-action-icon-export
			&:hover
				border-color lc_flat_forest_green
		&.collections-action-icon-add-integration
			&:hover
				border-color companyColor
		&.collections-action-icon-rename
			&:hover
				border-color lc_flat_teal
		&.collections-action-icon-changecolor
			&:hover
				border-color lc_flat_white
.hi-icon-effect-2a 
	.hi-icon
		&:hover:after
			lc-scale(0.80)

/* Effect 2b */
.hi-icon-effect-2b 
	.hi-icon
		&:hover:after
			lc-scale(0)
			opacity 0
			// -webkit-transition -webkit-transform 0.4s, opacity 0.2s
			// -moz-transition -moz-transform 0.4s, opacity 0.2s
			transition(transform 0.4s, opacity 0.2s)

.hi-icon-effect-2b 
	.hi-icon
		border 2px solid transparent

		&.collections-action-icon-trash
			&:hover
				border-color lc_flat_red
				color lc_flat_red
		&.collections-action-icon-export
			&:hover
				border-color lc_flat_forest_green
				color lc_flat_forest_green
		&.collections-action-icon-rename
			&:hover
				border-color lc_flat_teal
				color lc_flat_teal
		&.collections-action-icon-changecolor
			&:hover
				border-color lc_flat_white
				color lc_flat_white