.lightbox-nav
	position relative !important
	width 100%

	#dialog-title
		margin-bottom 0px

.lightbox-modal

	// .modal.in .modal-dialog
	// 	-webkit-animation zoomIn .1s !important
	// 	animation zoomIn .1s !important

	// .modal.out .modal-dialog
	// 	-webkit-animation zoomOut .1s !important
	// 	animation zoomOut .1s !important

	.modal-dialog
	.modal-content
	.lc-lightbox-modal-body
		border-radius(14px)

.lightbox-image-container
	padding 0px !important
	
	img
		width 100% !important