.loader
	&.centered
		text-align center
		display inline-block
		vertical-align middle
		position absolute
		top 50%
		left 50%
		margin-left -17px

	&.white
		.loading-spinner
			i
				background white
	&.red
		.loading-spinner
			i
				background lc_flat_red

.loading-spinner
	position relative
	display inline-block
	vertical-align middle
	width 35px
	height 9px
	text-align center

.loading-spinner i.three
	float right


.loading-spinner i.two
	-webkit-animation-delay -.18s
	-moz-animation-delay -.18s
	animation-delay -.18s

.loading-spinner i.one
	float left
	-webkit-animation-delay -.36s
	-moz-animation-delay -.36s
	animation-delay -.36s

.loading-spinner i
	vertical-align top
	display inline-block
	width 9px
	height 9px
	border-radius 50%
	background companyColor
	-webkit-animation pulse 1.25s infinite ease-in-out
	-moz-animation pulse 1.25s infinite ease-in-out
	animation pulse 1.25s infinite ease-in-out
	-webkit-animation-fill-mode both
	-moz-animation-fill-mode both
	animation-fill-mode both

@css {
@-webkit-keyframes pulse{0%,100%,80%{opacity:0}40%{opacity:1}}
@-moz-keyframes pulse{0%,100%,80%{opacity:0}40%{opacity:1}}
@keyframes pulse{0%,100%,80%{opacity:0}40%{opacity:1}}
}