growl-notifications
	position fixed
	top 127px
	right 15px
	z-index 9999999
	
	growl-notification
		border 1px solid #2ecc71
		padding 15px 15px
		margin-bottom 15px
		max-width 300px
		background-color:white;
		color #0071bc
		max-width 300px
		word-wrap break-word
		border-radius 6px 6px 6px 6px
		display block

.ngn
	padding 13px 80px

.lc-notification-type-notice
	background-color lc_flat_red
.lc-notification-type-success
	background-color lc_flat_skyblue