.search-flag

	background-color #C0392A !important

	&.active
		background-color #2ecc71 !important

.background-blue
	background-color #3499DC !important

#gridContainer
	.dx-datagrid-header-panel 
		.dx-toolbar
			margin-bottom 0px !important
	
	.dx-datagrid-pager
		border-top 0px !important

	.dx-pager
		padding-top 2px !important
		padding-bottom 0px !important

	.canceled
		background-color #e74c3c !important
		color #fff

	.urgent
		background-color #E67E22
		color #fff