
.pages_header
	margin-top 30px
	margin-left 30px
	color black
	font-weight bold

.pages_section
	margin-top 50px


//-------------------------------FIRST PAGE---------------------------------------------------------

.firstpage_company_logo
	position relative
	display block
	width 700px
	height 200px
	margin auto
	margin-top 180px
	background url('images/pages/logo_extended.svg') no-repeat
	background-size contain
	

.firstpage_text
	color black
	margin-left 60px
	margin-top 100px
	text-align left
	

//---------------------------------SECOND PAGE--------------------------------------------------------

//.secondpage_


//---------------------------------THIRD PAGE--------------------------------------------------------

// .thirdpage_header
// 	margin-top 30px
// 	margin-left 30px
// 	color black
// 	font-weight bold

// .thirdpage_section
// 	margin-top 50px

.thirdpage_title
	color red
	text-align center
	font-size 25px
	margin-bottom 50px
	
.thirdpage_col
	padding 50px
	
.thirdpage_p
	text-align center
	color black
	
.thirdpage_imges
	width 80%
	height 100px
	margin auto
	margin-top 80px
	
.img1
	background-color red
.img2
	background-color green
.img3
	background-color blue
	

	

//---------------------------------FOURTH PAGE--------------------------------------------------------

// .fourthpage_header
// 	margin-top 30px
// 	margin-left 30px
// 	color black
// 	font-weight bold
	
// .fourthpage_section
// 	margin-top 50px

//---------------------------------FIFTH PAGE--------------------------------------------------------


// .fifthpage_header
// 	margin-top 30px
// 	margin-left 30px
// 	color black
// 	font-weight bold
	
// .fifthpage_section
// 	margin-top 50px
	
.fifthpage_p
	margin-right 150px
	margin-top 150px

//---------------------------------SIXTH PAGE--------------------------------------------------------

//.sixthpage_