input,
textarea {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/*Abilita stampa su browser webkit*/
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}
@viewport {
  width: device-width;
  user-zoom: fixed !important;
}
html {
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1024px), screen and (max-height: 768px) {
  html {
    overflow: hidden !important;
  }
}
body {
  background-color: #fff;
  color: #b4b4b4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
}
/*-----------------------------------------WAVES---------------------------------------------------*/
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes waveMedium {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 6%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 6%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes waveSlow {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 3%, 0) rotateZ(-360deg);
  }
}
.waves {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  top: 0;
}
.wave {
  display: block;
  width: 250%;
  height: 83px;
  position: absolute;
  left: -100%;
  bottom: 0;
}
.wave-3 {
  z-index: 7;
  bottom: 110px;
  background: url("images/common/wave_common.svg") -74px 0 repeat-x;
  -webkit-animation-name: waveSlow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: waveSlow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*------------------------------------LIGHTHOUSE--------------------------------------------*/
.lighthouse {
  z-index: 5;
  width: 290px;
  height: 100%;
  background: url("images/common/lighthouse.svg") left bottom no-repeat;
  background-size: 100% auto;
  position: absolute;
  bottom: 190px;
  left: 50%;
  margin-left: -125px;
}
@media (max-width: 600px) {
  .lighthouse {
    width: 200px;
    height: 225px;
    margin-left: -100px;
  }
}
/*---------------------------------------------------------------------------------*/
.company_logo {
  background: url("images/common/logo_2.svg") no-repeat;
  background-size: 100% auto;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 45px;
  top: 45px;
  color: #f00;
  z-index: 2;
}
/*---------------------------------------INFO------------------------------------------------*/
.info {
  z-index: 6;
  opacity: 0.6;
  position: absolute;
  width: 250px;
  height: 280px;
  background-color: #f00;
  top: 45px;
  right: 30px;
  margin-left: -175px;
  text-align: center;
  background-color: #fff;
  font-family: arial;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.title {
  margin-top: 15px;
  color: #000;
}
.titles {
  margin-top: 15px;
  color: #f00;
  font-weight: bold;
  font-size: 10px;
}
.coords {
  margin-top: 10px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
/*---------------------------------------------------------------------------------------*/
.footer {
  z-index: 9;
  position: absolute;
  display: block;
  width: 100%;
  height: 130px;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
}
/*---------------------------------------TEXT---------------------------------------------*/
.text {
  color: #000;
  font-family: arial;
  text-align: center;
  margin-bottom: 50px;
}
.firstText {
  font-weight: bold;
  font-size: 18px;
}
.secondText {
  font-size: 10px;
}
.backslash {
  color: #f00;
}
.bold {
  font-weight: bold;
}
@-webkit-keyframes compass_animation {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(40deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(-40deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}
.compass_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.compass_pointer {
  background: url("images/common/compass_2.svg") no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  top: 50px;
  margin-left: 25px;
  position: absolute;
  z-index: 0;
}
.compass_dial {
  background: url("images/common/compass_1.svg") no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  top: 50px;
  margin-left: 25px;
  position: absolute;
  z-index: 5;
  -webkit-animation-name: compass_animation;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: compass_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.compassText {
  position: absolute;
  top: 10%;
  right: 35%;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
/*------------------------------------------COMPONENTS STYLE---------------------------------------*/
.morning,
.afternoon {
  width: 100%;
  height: 100%;
  position: absolute;
}
.morning .sky,
.afternoon .sky {
  position: absolute;
  width: 100%;
  height: 80%;
  overflow: hidden;
  background: url("images/morning_afternoon/background_morning-afternoon.png") bottom repeat-x;
}
.morning .wave-1,
.afternoon .wave-1 {
  z-index: 4;
  bottom: 170px;
  background: url("images/morning_afternoon/wave_3.svg") 0 0 repeat-x;
  -webkit-animation-name: wave;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.morning .wave-2,
.afternoon .wave-2 {
  z-index: 6;
  bottom: 135px;
  background: url("images/morning_afternoon/wave_2.svg") -42px 0 repeat-x;
  -webkit-animation-name: waveMedium;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: waveMedium;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes ship-basculant {
  0% {
    -webkit-transform: rotateZ(4deg);
  }
  100% {
    -webkit-transform: rotateZ(-4deg);
  }
}
.merchant_container {
  width: 100%;
  height: 100%;
}
.merchant {
  width: 300px;
  background: url("images/morning_afternoon/merchant.svg") bottom right no-repeat;
  background-size: 600px;
  padding-bottom: 17%;
  position: absolute;
  bottom: 185px;
  right: 20px;
  z-index: 6;
  hoverflow: hidden;
}
.merchant.backwards {
  background-position: bottom left;
}
.animate_merchant {
  webkit-animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.sun {
  left: 0;
  display: block;
  position: absolute;
  width: 110px;
  height: 110px;
  transform-origin: 0 400px;
  background-color: #ff0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  margin-left: -110px;
  margin-top: 150px;
  -webkit-animation-name: sun-animation;
  -webkit-animation-duration: 35s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3s;
  animation-name: sun-animation;
  animation-duration: 35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 3s;
}
.morning .sun {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
@-moz-keyframes ship-basculant {
  0% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(-4deg);
  }
}
@-webkit-keyframes ship-basculant {
  0% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(-4deg);
  }
}
@-o-keyframes ship-basculant {
  0% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(-4deg);
  }
}
@keyframes ship-basculant {
  0% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(-4deg);
  }
}
@-moz-keyframes sun-animation_color {
  from {
    background-color: #ff0;
  }
  to {
    background-color: #f00;
  }
}
@-webkit-keyframes sun-animation_color {
  from {
    background-color: #ff0;
  }
  to {
    background-color: #f00;
  }
}
@-o-keyframes sun-animation_color {
  from {
    background-color: #ff0;
  }
  to {
    background-color: #f00;
  }
}
@keyframes sun-animation_color {
  from {
    background-color: #ff0;
  }
  to {
    background-color: #f00;
  }
}
@-moz-keyframes sun-animation {
  0% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
  100% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
}
@-webkit-keyframes sun-animation {
  0% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
  100% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
}
@-o-keyframes sun-animation {
  0% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
  100% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
}
@keyframes sun-animation {
  0% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
  100% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
}
@-moz-keyframes sun-animation {
  0% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
  100% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
}
@-webkit-keyframes sun-animation {
  0% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
  100% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
}
@-o-keyframes sun-animation {
  0% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
  100% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
}
@keyframes sun-animation {
  0% {
    transform: rotateZ(0deg);
    background-color: #ff0;
  }
  100% {
    transform: rotateZ(100deg);
    background-color: #f00;
  }
}
.day {
  width: 100%;
  height: 100%;
  position: absolute;
/*----------------------------------CLOUDS-----------------------------------------*/
/*--------------------------SHIP---------------------------------------*/
/*-----------------------------------------BIRDS---------------------------------------------------*/
}
.day .sky {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: hidden;
  background: url("images/day/background_day.png") bottom repeat-x;
}
.day .wave-1 {
  z-index: 4;
  bottom: 160px;
  background: url("images/day/wave_3.svg") 0 0 repeat-x;
  -webkit-animation-name: wave;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.day .wave-2 {
  z-index: 6;
  bottom: 140px;
  background: url("images/day/wave_2.svg") -42px 0 repeat-x;
  -webkit-animation-name: waveMedium;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: waveMedium;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes cloud {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 40%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 40%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes cloud_inverse {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 50%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 50%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes cloudSmall {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 30%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 30%, 0) rotateZ(-360deg);
  }
}
.day .cloud_1 {
  background: url("images/cloud.svg") 0 0 no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 50%;
}
.day .cloud_2 {
  background: url("images/cloud-2.svg") 0 0 no-repeat;
  background-size: 100% auto;
  position: absolute;
}
.day .section-intro__cloud_1 {
  width: 80px;
  height: 50px;
  top: 230px;
  margin-left: -200px;
  margin-top: 50px;
  opacity: 0.6;
  webkit-animation-name: cloud;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: cloud;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.day .section-intro__cloud_2 {
  width: 60px;
  height: 30px;
  top: 310px;
  margin-left: 450px;
  webkit-animation-name: cloudSmall;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: cloudSmall;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.day .section-intro__cloud_3 {
  width: 90px;
  height: 55px;
  top: 200px;
  right: 300px;
  opacity: 0.7;
  margin-left: 200px;
  -webkit-animation-name: cloud_inverse;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: cloud_inverse;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.day .section-intro__cloud_4 {
  width: 60px;
  height: 32px;
  top: 250px;
  left: 950px;
  -webkit-animation-name: cloud_inverse;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: cloud_inverse;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.day .section-intro__cloud_5 {
  width: 40px;
  height: 21px;
  top: 300px;
  right: 350px;
  opacity: 0.5;
  -webkit-animation-name: cloud;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: cloud;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes ship-basculant {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(4deg);
  }
  100% {
    -webkit-transform: translate3d(-5%, 0, 0) rotateZ(-4deg);
  }
}
.day .ship_container {
  width: 100%;
  height: 100%;
}
.day .sailboat {
  width: 70px;
  padding-bottom: 17%;
  position: absolute;
  bottom: 185px;
  right: 20px;
  background: url("images/day/sailboat.svg") bottom right no-repeat;
  background-size: 140px;
  z-index: 6;
  overflow: hidden;
}
.day .sailboat.backwards {
  background-position: bottom left;
}
.day .animate_sailboat {
  webkit-animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.day .seagulls {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.day .seagull {
  display: block;
  position: absolute;
}
.day .seagull.animate-transition {
  -webkit-transition: transform 12s linear;
  -moz-transition: transform 12s linear;
  transition: transform 12s linear;
}
.day .seagull_1 {
  background: url("images/day/seagull_1.svg") 0 0 no-repeat;
  width: 45px;
  height: 83px;
  left: 120px;
  bottom: 310px;
}
.day .seagull_2 {
  background: url("images/day/seagull_2.svg") 0 0 no-repeat;
  width: 45px;
  height: 83px;
  left: 180px;
  bottom: 290px;
}
.day .seagull_3 {
  background: url("images/day/seagull_3.svg") 0 0 no-repeat;
  width: 45px;
  height: 83px;
  left: 190px;
  bottom: 340px;
}
@-moz-keyframes cloud {
  0% {
    transform: rotateZ(0deg) translate3d(0, 40%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 40%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes cloud {
  0% {
    transform: rotateZ(0deg) translate3d(0, 40%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 40%, 0) rotateZ(-360deg);
  }
}
@-o-keyframes cloud {
  0% {
    transform: rotateZ(0deg) translate3d(0, 40%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 40%, 0) rotateZ(-360deg);
  }
}
@keyframes cloud {
  0% {
    transform: rotateZ(0deg) translate3d(0, 40%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 40%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes cloud_inverse {
  0% {
    transform: rotateZ(0deg) translate3d(0, 50%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg) translate3d(0, 50%, 0) rotateZ(360deg);
  }
}
@-webkit-keyframes cloud_inverse {
  0% {
    transform: rotateZ(0deg) translate3d(0, 50%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg) translate3d(0, 50%, 0) rotateZ(360deg);
  }
}
@-o-keyframes cloud_inverse {
  0% {
    transform: rotateZ(0deg) translate3d(0, 50%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg) translate3d(0, 50%, 0) rotateZ(360deg);
  }
}
@keyframes cloud_inverse {
  0% {
    transform: rotateZ(0deg) translate3d(0, 50%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg) translate3d(0, 50%, 0) rotateZ(360deg);
  }
}
@-moz-keyframes cloudSmall {
  0% {
    transform: rotateZ(0deg) translate3d(0, 30%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 30%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes cloudSmall {
  0% {
    transform: rotateZ(0deg) translate3d(0, 30%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 30%, 0) rotateZ(-360deg);
  }
}
@-o-keyframes cloudSmall {
  0% {
    transform: rotateZ(0deg) translate3d(0, 30%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 30%, 0) rotateZ(-360deg);
  }
}
@keyframes cloudSmall {
  0% {
    transform: rotateZ(0deg) translate3d(0, 30%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 30%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(4deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-4deg);
  }
}
@-webkit-keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(4deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-4deg);
  }
}
@-o-keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(4deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-4deg);
  }
}
@keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(4deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-4deg);
  }
}
.evening {
  width: 100%;
  height: 100%;
  position: absolute;
}
.evening .sky {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: hidden;
  background: url("images/evening/background_evening.png") bottom repeat-x;
}
.evening .wave-1 {
  z-index: 4;
  bottom: 170px;
  background: url("images/evening/wave_3.svg") 0 0 repeat-x;
  -webkit-animation-name: wave;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.evening .wave-2 {
  z-index: 6;
  bottom: 135px;
  background: url("images/evening/wave_2.svg") -42px 0 repeat-x;
  -webkit-animation-name: waveMedium;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: waveMedium;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes ship-basculant {
  0% {
    -webkit-transform: translate3d(8%, 0, 0) rotateZ(6deg);
  }
  100% {
    -webkit-transform: translate3d(-8%, 0, 0) rotateZ(-6deg);
  }
}
.speed-boat_container {
  width: 100%;
  height: 100%;
}
.speed-boat {
  width: 190px;
  padding-bottom: 17%;
  position: absolute;
  bottom: 172px;
  right: 20px;
  background: url("images/evening/yacht.svg") bottom right no-repeat;
  background-size: 380px;
  z-index: 6;
  overflow: hidden;
}
.speed-boat.backwards {
  background-position: bottom left;
}
.animate_speed-boat {
  webkit-animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.stars {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.star_1 {
  background: url("images/evening/star_1.gif") 0 0 no-repeat;
  background-size: 100% auto;
  margin-left: 200px;
  margin-top: 60px;
  width: 100px;
  height: 200px;
}
.star_2 {
  width: 100px;
  height: 200px;
  background: url("images/evening/star_2.gif") 0 0 no-repeat;
  background-size: 100% auto;
  margin-left: 990px;
  margin-top: -100px;
}
@-moz-keyframes ship-basculant {
  0% {
    transform: translate3d(8%, 0, 0) rotateZ(6deg);
  }
  100% {
    transform: translate3d(-8%, 0, 0) rotateZ(-6deg);
  }
}
@-webkit-keyframes ship-basculant {
  0% {
    transform: translate3d(8%, 0, 0) rotateZ(6deg);
  }
  100% {
    transform: translate3d(-8%, 0, 0) rotateZ(-6deg);
  }
}
@-o-keyframes ship-basculant {
  0% {
    transform: translate3d(8%, 0, 0) rotateZ(6deg);
  }
  100% {
    transform: translate3d(-8%, 0, 0) rotateZ(-6deg);
  }
}
@keyframes ship-basculant {
  0% {
    transform: translate3d(8%, 0, 0) rotateZ(6deg);
  }
  100% {
    transform: translate3d(-8%, 0, 0) rotateZ(-6deg);
  }
}
.night {
  width: 100%;
  height: 100%;
  position: absolute;
}
.night .sky {
  position: absolute;
  width: 100%;
  height: 95%;
  overflow: hidden;
  background: url("images/night/background_night.png") bottom repeat-x;
}
.night .wave-1 {
  z-index: 4;
  bottom: 170px;
  background: url("images/night/wave_3.svg") 0 0 repeat-x;
  -webkit-animation-name: wave;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.night .wave-2 {
  z-index: 6;
  bottom: 135px;
  background: url("images/night/wave_2.svg") -42px 0 repeat-x;
  -webkit-animation-name: waveMedium;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: waveMedium;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linearnight;
}
@-webkit-keyframes ship-basculant {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(2deg);
  }
  100% {
    -webkit-transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
  }
}
.cruise-ship_container {
  width: 100%;
  height: 100%;
}
.cruise-ship {
  width: 400px;
  height: 200px;
  background: url("images/night/ship.svg") bottom right no-repeat;
  background-size: 800px;
  padding-bottom: 17%;
  position: absolute;
  bottom: 170px;
  right: 20px;
  z-index: 6;
  hoverflow: hidden;
}
.cruise-ship.backwards {
  background-position: bottom left;
}
.animate_cruise-ship {
  webkit-animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.comet_container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.comet {
  width: 500px;
  height: 200px;
  background: url("images/night/comet.gif") 0 0 no-repeat;
  margin-top: 50px;
  margin-left: 300px;
  z-index: 0;
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
}
@-moz-keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(2deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
  }
}
@-webkit-keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(2deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
  }
}
@-o-keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(2deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
  }
}
@keyframes ship-basculant {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(2deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
  }
}
@-moz-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
  }
}
@-o-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
  }
}
@keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes waveMedium {
  0% {
    transform: rotateZ(0deg) translate3d(0, 6%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 6%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes waveMedium {
  0% {
    transform: rotateZ(0deg) translate3d(0, 6%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 6%, 0) rotateZ(-360deg);
  }
}
@-o-keyframes waveMedium {
  0% {
    transform: rotateZ(0deg) translate3d(0, 6%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 6%, 0) rotateZ(-360deg);
  }
}
@keyframes waveMedium {
  0% {
    transform: rotateZ(0deg) translate3d(0, 6%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 6%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes waveSlow {
  0% {
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 3%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes waveSlow {
  0% {
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 3%, 0) rotateZ(-360deg);
  }
}
@-o-keyframes waveSlow {
  0% {
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 3%, 0) rotateZ(-360deg);
  }
}
@keyframes waveSlow {
  0% {
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 3%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes compass_animation {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(40deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes compass_animation {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(40deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-o-keyframes compass_animation {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(40deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes compass_animation {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(40deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
