
.afternoon
	background url('images/morning_afternoon/background_morning-afternoon.png') 0 0 repeat-x
	width 100%
	height 100%
	position absolute
	
	.wave-1
		z-index 4
		bottom 170px
		background url('images/morning_afternoon/wave_3.svg') 0 0 repeat-x
		-webkit-animation-name wave
		-webkit-animation-duration 3s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name wave
		animation-duration 3s
		animation-iteration-count infinite
		animation-timing-function linear

	.wave-2
		z-index 6
		bottom 135px
		background url('images/morning_afternoon/wave_2.svg') -42px 0 repeat-x
		-webkit-animation-name waveMedium
		-webkit-animation-duration 2.5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name waveMedium
		animation-duration 2.5s
		animation-iteration-count infinite
		animation-timing-function linear
		
//--------------------------------BOAT------------------------------------------------

	@-webkit-keyframes ship-basculant
		0%
			-webkit-transform rotateZ(4deg)
		100%
			-webkit-transform rotateZ(-4deg)

	@keyframes ship-basculant
		0%
			transform rotateZ(4deg)
		100%
			transform rotateZ(-4deg)


	.merchant_container
		width 100%
		height 100%
			
	.merchant
		width 300px
		background url('images/morning_afternoon/merchant.svg') bottom right no-repeat
		background-size 600px
		padding-bottom 17%
		position absolute
		bottom 185px
		right 20px
		z-index 6
		hoverflow hidden
			
		&.backwards
			background-position bottom left
		
	.animate_merchant
		webkit-animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		
	//----------------------------------SUN---------------------------------------------------
			
	// @-webkit-keyframes sun-animation
	// 	0%
	// 		webkit from {background-color: red}
	// 	100%
	// 		webkit to {background-color: yellow}


	@keyframes sun_afternoon-animation_color
		
		from {background-color: yellow}
	
		to {background-color: red}
		
	@keyframes sun-animation
	
		0%
			transform rotateZ(0deg) {background-color: yellow}
		100%
			transform rotateZ(100deg) {background-color: red}


	.sun_afternoon
		display block
		position absolute
		width 110px
		height 110px
		margin-top 160px
		margin-left -110px
		transform-origin 0 500px
		background-color yellow
		-webkit-border-radius 50%
		-moz-border-radius 50%
		border-radius 50%
		
	
		-webkit-animation-name sun-animation
		-webkit-animation-duration 40s
		-webkit-animation-iteration-count 1
		-webkit-animation-timing-function linear
		-webkit-animation-delay 5s
		animation-name sun-animation
		animation-duration 40s
		animation-iteration-count 1
		animation-timing-function linear
		animation-delay 5s
	

		// -webkit-animation-name sun-animation_color
		// -webkit-animation-duration 5s
		// -webkit-animation-iteration-count 1
		// -webkit-animation-timing-function linear
		// animation-name sun-animation_color
		// animation-duration 5s
		// animation-iteration-count 1
		// animation-timing-function linear