.day
	width 100%
	height 100%
	overflow hidden
	position absolute
	
	.sky
		position absolute
		width 100%
		height 90%
		overflow hidden
		background url('images/day/background_day.png') bottom repeat-x
	
	.wave-1
		z-index 4
		bottom 160px
		background url('images/day/wave_3.svg') 0 0 repeat-x
		-webkit-animation-name wave
		-webkit-animation-duration 5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name wave
		animation-duration 5s
		animation-iteration-count infinite
		animation-timing-function linear

	.wave-2
		z-index 6
		bottom 140px
		background url('images/day/wave_2.svg') -42px 0 repeat-x
		-webkit-animation-name waveMedium
		-webkit-animation-duration 3.5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name waveMedium
		animation-duration 3.5s
		animation-iteration-count infinite
		animation-timing-function linear

	/*----------------------------------CLOUDS-----------------------------------------*/


	@-webkit-keyframes cloud
		0%
			-webkit-transform rotateZ(0deg) translate3d(0,40%,0) rotateZ(0deg)
		100%
			-webkit-transform rotateZ(360deg) translate3d(0,40%,0) rotateZ(-360deg)

	@keyframes cloud
		0%
			transform rotateZ(0deg) translate3d(0, 40%, 0) rotateZ(0deg)
		100%
			transform rotateZ(360deg) translate3d(0, 40%, 0) rotateZ(-360deg)

	@-webkit-keyframes cloud_inverse
		0%
			-webkit-transform rotateZ(0deg) translate3d(0,50%,0) rotateZ(0deg)
		100%
			-webkit-transform rotateZ(360deg) translate3d(0,50%,0) rotateZ(-360deg)

	@keyframes cloud_inverse
		0%
			transform rotateZ(0deg) translate3d(0, 50%, 0) rotateZ(0deg)
		100%
			transform rotateZ(-360deg) translate3d(0, 50%, 0) rotateZ(360deg)
			

	@-webkit-keyframes cloudSmall
		0%
			-webkit-transform rotateZ(0deg) translate3d(0, 30%, 0) rotateZ(0deg)
		100%
			-webkit-transform rotateZ(360deg) translate3d(0, 30%, 0) rotateZ(-360deg)

	@keyframes cloudSmall
		0%
			transform rotateZ(0deg) translate3d(0, 30%, 0) rotateZ(0deg)
		100%
			transform rotateZ(360deg) translate3d(0, 30%, 0) rotateZ(-360deg)

	.cloud_1
		background url('images/day/cloud_final.svg') 0 0 no-repeat
		background-size 100% auto
		position absolute
		left 50%

	.cloud_2
		background url('images/day/cloud-2_final.svg') 0 0 no-repeat
		background-size 100% auto
		position absolute

	.section-intro__cloud_1
		width 80px
		height 50px
		top 230px
		margin-left -200px
		margin-top 50px
		opacity .6
		webkit-animation-name cloud
		-webkit-animation-duration 30s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloud
		animation-duration 30s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_2
		width 60px
		height 30px
		top 310px
		margin-left 450px
		webkit-animation-name cloudSmall
		-webkit-animation-duration 14s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloudSmall
		animation-duration 14s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_3
		width 90px
		height 55px
		top 200px
		right 300px
		opacity .7
		margin-left 200px
		-webkit-animation-name cloud_inverse
		-webkit-animation-duration 40s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloud_inverse
		animation-duration 40s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_4
		width 60px
		height 32px
		top 250px
		left 950px
		-webkit-animation-name cloud_inverse
		-webkit-animation-duration 30s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloud_inverse
		animation-duration 30s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_5
		width 40px
		height 21px
		top 300px
		right 350px
		opacity .5
		-webkit-animation-name cloud
		-webkit-animation-duration 15s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloud
		animation-duration 15s
		animation-iteration-count infinite
		animation-timing-function linear

	/*--------------------------SHIP---------------------------------------*/

	@-webkit-keyframes ship-basculant
		0%
			-webkit-transform translate3d(5%,0,0) rotateZ(4deg)
		100%
			-webkit-transform translate3d(-5%,0,0) rotateZ(-4deg)

	@keyframes ship-basculant
		0%
			transform translate3d(5%,0,0) rotateZ(4deg)
		100%
			transform translate3d(-5%,0,0) rotateZ(-4deg)
			

	.ship_container
		width 100%
		height 100%
			
	.sailboat
		width 100px
		height 200px
		position absolute
		bottom 185px
		right 20px
		background url('images/day/sailboat.svg') bottom right no-repeat
		background-size 200px
		z-index 6
		overflow hidden
		
		&.backwards
			background-position bottom left
		
	.animate_sailboat
		webkit-animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
	

	/*-----------------------------------------BIRDS---------------------------------------------------*/
		
	.seagulls
		width 100%
		height 100%
		display block
		position absolute
		bottom 0
		overflow hidden

	.seagull 
		display block
		position absolute
		
		&.animate-transition
			-webkit-transition transform 12s linear
			-moz-transition transform 12s linear
			transition transform 12s linear
		

	.seagull_1
		background url('images/day/seagull_1.svg') 0 0 no-repeat
		width 45px
		height 83px
		left 120px
		bottom 310px 
		
		
	.seagull_2
		background url('images/day/seagull_2.svg') 0 0 no-repeat
		width 45px
		height 83px
		left 180px
		bottom 290px
		
	.seagull_3
		background url('images/day/seagull_3.svg') 0 0 no-repeat
		width 45px
		height 83px
		left 190px
		bottom 340px


@media only screen and (max-width 1024px)
	.wave-1
		-webkit-animation-name waveMobile !important
		animation-name waveMobile !important
		-webkit-animation-duration 4s !important
		animation-duration 4s !important

	.wave-2
		-webkit-animation-name waveMediumMobile !important
		animation-name waveMediumMobile !important
		-webkit-animation-duration 6s !important
		animation-duration 6s !important

	.wave-3
		-webkit-animation-duration 5s !important
		animation-duration 5s !important
		-webkit-animation-name waveSlowMobile !important
		animation-name waveSlowMobile !important
