
.day
	background url('images/day/background_day.png') 0 0 repeat-x
	width 100%
	height 100%
	position absolute
	
	.wave-1
		z-index 4
		bottom 170px
		background url('images/day/wave_3.svg') 0 0 repeat-x
		-webkit-animation-name wave
		-webkit-animation-duration 5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name wave
		animation-duration 5s
		animation-iteration-count infinite
		animation-timing-function linear

	.wave-2
		z-index 6
		bottom 140px
		background url('images/day/wave_2.svg') -42px 0 repeat-x
		-webkit-animation-name waveMedium
		-webkit-animation-duration 3.5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name waveMedium
		animation-duration 3.5s
		animation-iteration-count infinite
		animation-timing-function linear

	/*----------------------------------CLOUDS-----------------------------------------*/


	@-webkit-keyframes cloud
		0%
			-webkit-transform rotateZ(0deg) translate3d(0,40%,0) rotateZ(0deg)
		100%
			-webkit-transform rotateZ(360deg) translate3d(0,40%,0) rotateZ(-360deg)

	@keyframes cloud
		0%
			transform rotateZ(0deg) translate3d(0, 40%, 0) rotateZ(0deg)
		100%
			transform rotateZ(360deg) translate3d(0, 40%, 0) rotateZ(-360deg)
			

	@-webkit-keyframes cloudSmall
		0%
			-webkit-transform rotateZ(0deg) translate3d(0,25%,0) rotateZ(0deg)
		100%
			-webkit-transform rotateZ(360deg) translate3d(0,25%,0) rotateZ(-360deg)

	@keyframes cloudSmall
		0%
			transform rotateZ(0deg) translate3d(0, 25%, 0) rotateZ(0deg)
		100%
			transform rotateZ(360deg) translate3d(0, 25%, 0) rotateZ(-360deg)

	.cloud_1
		background url('images/day/cloud_1.svg') 0 0 no-repeat
		background-size 100% auto
		position absolute
		left 50%

	.cloud_2
		background url('images/day/cloud_2.svg') 0 0 no-repeat
		background-size 100% auto
		position absolute
		
	.cloud_3
		background url('images/day/cloud_3.svg') 0 0 no-repeat
		background-size 100% auto
		position absolute

	.section-intro__cloud_1
		width 8%
		height 49px
		bottom 380px
		margin-left -200px
		margin-top 50px
		opacity .6
		-webkit-animation-name cloud
		-webkit-animation-duration 20s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloud
		animation-duration 20s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_2
		width 100px
		height 200px
		bottom 350px
		margin-left 450px
		opacity .9
		-webkit-animation-name cloudSmall
		-webkit-animation-duration 20s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloudSmall
		animation-duration 20s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_3
		width 110px
		height 60px
		bottom 500px
		margin-left 200px
		opacity .6
		-webkit-animation-name cloud
		-webkit-animation-duration 20s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloud
		animation-duration 20s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_4
		width 80px
		height 42px
		bottom 530px
		margin-left 830px
		margin-top -40px
		opacity .9
		-webkit-animation-name cloudSmall
		-webkit-animation-duration 20s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloudSmall
		animation-duration 20s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.section-intro__cloud_5
		width 80px
		height 42px
		bottom 500px
		margin-left 1000px
		margin-top -40px
		opacity .9
		-webkit-animation-name cloudSmall
		-webkit-animation-duration 20s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name cloudSmall
		animation-duration 20s
		animation-iteration-count infinite
		animation-timing-function linear

	/*--------------------------SHIP---------------------------------------*/

	@-webkit-keyframes ship-main
		0%
			-webkit-transform translate3d(5%,0,0) rotateZ(5deg)
		100%
			-webkit-transform translate3d(-5%,0,0) rotateZ(-5deg)

	@keyframes ship-main
		0%
			transform translate3d(5%,0,0) rotateZ(5deg)
		100%
			transform translate3d(-5%,0,0) rotateZ(-5deg)
			

	@-webkit-keyframes ship-turn
		0%
			-webkit-transform rotateY(0deg)
			
		49%
			-webkit-transform rotateY(0deg)	
		
		50%
			-webkit-transform rotateY(150deg)
		
		99% 
			-webkit-transform rotateY(150deg)

		100%
			-webkit-transform rotateY(0deg)

	@keyframes ship-turn
		0%
			transform rotateY(0deg)
			
		49%
			transform rotateY(0deg)
		
		50%
			transform rotateY(150deg)
		
		99%
			transform rotateY(150deg)
			
		100%
			transform rotateY(0deg)


	.ship_container
		width 100%
		height 100%
			
	.sailboat
		width 15%
		padding-bottom 17%
		position absolute
		bottom 185px
		right 20px
		background url('images/boat.svg') bottom left no-repeat
		background-size contain
		z-index 6
		hoverflow hidden
		//clip rect 0px 10px 10px 0px
		
	.animate_sailboat_turn
		-webkit-animation-name ship-turn
		-webkit-animation-duration 60s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name ship-turn
		animation-duration 60s
		animation-iteration-count infinite
		animation-timing-function linear
		
	.animate_sailboat
		webkit-animation: ship-main 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		animation: ship-main 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
	
	.rotateY
		webkit-transform: rotateY(150deg)
		transform: rotateY(150deg)
		
	.rotateY_back
		webkit-transform: rotateY(-150deg)
		transform: rotateY(-150deg)

	/*-----------------------------------------BIRDS---------------------------------------------------*/
		
	@keyframes seagullsAnimated
	
		0%
			opacity: 1;
		25%
			opacity: 0.5;
		50%
			opacity: 0;
		75%
			opacity: 0.5;
		100%
			opacity: 1;


	.seagulls
		display block
		width 100%
		height 100%
		position absolute
		bottom 0
		overflow hidden

	.seagull 
		display block
		position absolute

	.seagull_1
		width 45px
		height 83px
		left 120px
		bottom 310px 
		background url('images/day/seagull_1.svg') 0 0 no-repeat
		-webkit-animation-name seagullsAnimated
		-webkit-animation-duration 10s
		-webkit-animation-iteration-count infinite
		-webkit-animation-delay 3.5s
		webkit-animation-timing-function linear
		animation-name seagullsAnimated
		animation-duration 10s
		animation-iteration-count infinite
		animation-timing-function linear
		animation-delay 3.5s
		
	.seagull_2
		background url('images/day/seagull_2.svg') 0 0 no-repeat
		width 45px
		height 83px
		left 180px
		bottom 290px
		-webkit-animation-name seagullsAnimated
		-webkit-animation-duration 10s
		-webkit-animation-iteration-count infinite
		webkit-animation-timing-function linear
		-webkit-animation-delay 5s
		animation-name seagullsAnimated
		animation-duration 10s
		animation-iteration-count infinite
		animation-timing-function linear
		animation-delay 7s
		
	.seagull_3
		background url('images/day/seagull_3.svg') 0 0 no-repeat
		width 45px
		height 83px
		left 190px
		bottom 340px
		-webkit-animation-name seagullsAnimated
		-webkit-animation-duration 10s
		-webkit-animation-iteration-count infinite
		webkit-animation-timing-function linear
		-webkit-animation-delay 10s
		animation-name seagullsAnimated
		animation-duration 10s
		animation-iteration-count infinite
		animation-timing-function linear
		animation-delay 10s