.imk-modal-dialog

	width 500px

	&.imk-open-offert-dialog
		width 350px !important

	&.imk-delete-item-dialog
		md-dialog-header
			.modal-title
				color rgb(255, 87, 34)

	md-dialog-content
	md-dialog-header
	md-dialog-actions
		box-sizing(border-box)

	md-dialog-content
		padding 15px

	md-dialog-header
		
		padding 15px
		border-bottom 1px solid #e5e5e5

		.modal-title
			font-size 15px
			text-align center
			line-height 20px
			color companyColor

		.close
			float right
			margin-top -2px
			font-size 21px
			font-weight 700
			line-height 1
			color #000
			text-shadow 0 1px 0 #fff
			opacity .2
			-webkit-appearance none
			padding 0
			cursor pointer
			background 0 0
			border 0

			&:hover
				opacity .4
	
	md-dialog-actions

		border-top 1px solid #e5e5e5

		.cancel-action
			font-size 13px
			margin-right 10px
			cursor pointer !important
			color companyColor !important

			&:hover
				text-decoration underline