
.evening
	position absolute
	width 100%
	height 100%
	
	
	.sky
		position absolute
		width 100%
		height 100%
		background url('images/evening/background_evening.png') bottom repeat-x
		overflow hidden
		
//--------------------------------------WAVES--------------------------------------------------
	
	.wave-1
		bottom 170px
		background url('images/evening/wave_3.svg') 0 0 repeat-x
		z-index 4
		
		-webkit-animation-name wave
		-webkit-animation-duration 3s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name wave
		animation-duration 3s
		animation-iteration-count infinite
		animation-timing-function linear

	.wave-2
		bottom 135px
		background url('images/evening/wave_2.svg') -42px 0 repeat-x
		z-index 6
		
		-webkit-animation-name waveMedium
		-webkit-animation-duration 2.5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name waveMedium
		animation-duration 2.5s
		animation-iteration-count infinite
		animation-timing-function linear
		

//--------------------------SHIP---------------------------------------

	.speed-boat
		position absolute
		width 190px
		right 20px
		padding-bottom 17%
		bottom 172px
		background url('images/evening/yacht.svg') bottom right no-repeat
		background-size 380px
		overflow hidden
		z-index 6
		
		&.backwards
			background-position bottom left
		
	.animation_speed-boat
		webkit-animation: ship-movement 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		animation: ship-movement 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		

	@-webkit-keyframes ship-movement
		0%
			-webkit-transform translate3d(8%,0,0) rotateZ(6deg)
		100%
			-webkit-transform translate3d(-8%,0,0) rotateZ(-6deg)

	@keyframes ship-movement
		0%
			transform translate3d(8%,0,0) rotateZ(6deg)
		100%
			transform translate3d(-8%,0,0) rotateZ(-6deg)
		

	//-----------------------------------STARS----------------------------------------------------		

	.evening_stars
		position absolute
		display block
		width 100%
		height 100%
		overflow hidden
		
	.evening_star_1
		width 100px
		height 200px
		margin-left 200px
		margin-top 60px
		background url('images/evening/star_1.gif') 0 0 no-repeat
		background-size 100% auto
		z-index 8
		
	.evening_star_2
		width 100px
		height 200px
		margin-left 990px
		margin-top -100px
		background url('images/evening/star_2.gif') 0 0 no-repeat
		background-size 100% auto
		z-index 8