#main-container.login-main-container
	height 100%
	width 100%
	overflow hidden

	#main-content
		width	100%
		padding 0px 10px
		box-sizing 	(border-box)
		box-flex(1)
		min-height 100%

#loginContent
	background url(loginBackgroundUrl)
	background-size cover
	background-position center center
	background-repeat no-repeat

#login-logo
	max-height 100px
	max-width 96px

#login_container
	margin auto
	width 430px
	border-radius(6px)
	padding 0px 0px
	box-sizing(border-box)
	background #fff
	border 1px solid companyColor
	margin-top 40px

	.alert
		padding 10px
		margin-bottom 20px
		border 1px solid transparent
		border-radius(4px)
		width 100%
		text-align center
		box-sizing(border-box)

		&.danger
			background-color #d64242
			border-color #d64242
			color #fff

	.login-form
		padding 40px

	.login-title
		color companyColor
		text-align center
		margin-top 40px
		font-size 24px

	.form-group
		// margin-bottom 20px
		position relative

	input
		border 0px !important
		width 100%
		height 44px
		line-height 19px

		padding-bottom 6px
		padding-left 50px
		padding-right 8px
		padding-top 6px

		font-size 14px
		margin 0px 0px

		box-sizing(border-box)
		border 1px solid companyColor !important
		// background-color companyColorLogin
		border-radius(3px)
		outline 0
		position relative

	div.login-icon-container
		position absolute
		top 7px
		display block
		left 0px
		height 30px
		line-height 30px
		width 40px
		border-right 1px solid #ddd
		text-align center
		content "A"
		color companyColor
		vertical-align middle
		z-index 99

	.login-button

		cursor pointer
		width 100%
		display block
		text-align center
		border 0px
		border-radius(3px)
		box-sizing(border-box)
		padding 10px 0px
		background-color companyColor
		color #fff
		font-weight bold
		border 1px solid transparent
		height 40px
		position relative

		&[disabled="disabled"]
			background-color companyColor !important
			border-color transparent !important
			color #fff !important
			cursor default !important

		&:hover
			background-color companyColorHover
			color companyColor
			border-color companyColor

	.middle-line-text-container
		.middle-line-text
			text-align center
			font-weight bold
			color companyColor