
.morning
	background url('images/morning_afternoon/background_morning-afternoon.png') 0 0 repeat-x
	width 100%
	height 100%
	position absolute
	

	.wave-1
		z-index 4
		bottom 170px
		background url('images/morning_afternoon/wave_3.svg') 0 0 repeat-x
		-webkit-animation-name wave
		-webkit-animation-duration 3s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name wave
		animation-duration 3s
		animation-iteration-count infinite
		animation-timing-function linear

	.wave-2
		z-index 6
		bottom 135px
		background url('images/morning_afternoon/wave_2.svg') -42px 0 repeat-x
		-webkit-animation-name waveMedium
		-webkit-animation-duration 2.5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name waveMedium
		animation-duration 2.5s
		animation-iteration-count infinite
		animation-timing-function linear
		
		
	.merchant_container
		width 100%
		height 100%
			
	.merchant
		background url('images/night/merchant.svg') bottom left no-repeat
		background-size contain
		width 200px
		height 200px
		padding-bottom 17%
		position absolute
		bottom 185px
		right 20px
		z-index 6
		hoverflow hidden
		//clip rect 0px 10px 10px 0px
		
	.animate_merchant
		webkit-animation: ship-main 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		animation: ship-main 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)