
.morning
	background url('images/morning_afternoon/background_morning-afternoon.png') 0 0 repeat-x
	width 100%
	height 100%
	position absolute
	

	.wave-1
		z-index 4
		bottom 170px
		background url('images/morning_afternoon/wave_3.svg') 0 0 repeat-x
		-webkit-animation-name wave
		-webkit-animation-duration 3s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name wave
		animation-duration 3s
		animation-iteration-count infinite
		animation-timing-function linear

	.wave-2
		z-index 6
		bottom 135px
		background url('images/morning_afternoon/wave_2.svg') -42px 0 repeat-x
		-webkit-animation-name waveMedium
		-webkit-animation-duration 2.5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name waveMedium
		animation-duration 2.5s
		animation-iteration-count infinite
		animation-timing-function linear