
.night
	width 100%
	height 100%
	position absolute
	
	.sky
		position absolute
		width 100%
		height 95%
		overflow hidden
		background url('images/night/background_night.png') bottom repeat-x
	

	.wave-1
		z-index 4
		bottom 170px
		background url('images/night/wave_3.svg') 0 0 repeat-x
		-webkit-animation-name wave
		-webkit-animation-duration 3s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name wave
		animation-duration 3s
		animation-iteration-count infinite
		animation-timing-function linear

	.wave-2
		z-index 6
		bottom 135px
		background url('images/night/wave_2.svg') -42px 0 repeat-x
		-webkit-animation-name waveMedium
		-webkit-animation-duration 2.5s
		-webkit-animation-iteration-count infinite
		-webkit-animation-timing-function linear
		animation-name waveMedium
		animation-duration 2.5s
		animation-iteration-count infinite
		animation-timing-function linearnight
		
//----------------------------------------BOAT----------------------------------------------
	
	@-webkit-keyframes ship-basculant
		0%
			-webkit-transform translate3d(5%,0,0) rotateZ(2deg)
		100%
			-webkit-transform translate3d(-5%,0,0) rotateZ(-2deg)

	@keyframes ship-basculant
		0%
			transform translate3d(5%,0,0) rotateZ(2deg)
		100%
			transform translate3d(-5%,0,0) rotateZ(-2deg)
			

	.cruise-ship_container
		width 100%
		height 100%
			
	.cruise-ship
		width 400px
		height 200px
		background url('images/night/ship.svg') bottom right no-repeat
		background-size 800px
		padding-bottom 17%
		position absolute
		bottom 170px
		right 20px
		z-index 6
		hoverflow hidden
		
		&.backwards
			background-position bottom left

		
	.animate_cruise-ship
		webkit-animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		animation: ship-basculant 1.8s infinite alternate cubic-bezier(0.455, .03, .515, .955)
		


//-----------------------------------STARS----------------------------------------------------		


	@keyframes star-animation 
		0%
			right 250px 
			top -110px
		100% 
			right 2300px 
			top 400px
			

	.comet
		position absolute
		width 100px
		height 100px
		overflow hidden
		background url('images/night/comet.gif') no-repeat
		background-size contain
		top -110px
		right 250px
		transform rotate(30deg)
		
		-webkit-animation-name star-animation
		-webkit-animation-duration 2s
		-webkit-animation-iteration-count 1
		-webkit-animation-timing-function linear
		-webkit-animation-delay 5s
		animation-name star-animation
		animation-duration 2s
		animation-iteration-count 1
		animation-timing-function linear
		animation-delay 5s
		


//-----------------------------------------SPACE-------------------------------------------------

	
