
//- Template composed of all the common graphics elements

div
	div
		div.main-content

			div
				div
					div.company_logo

			div.waves
				div
					div.waves
						ul
							li
								div.wave.wave-1
							li
								div.wave.wave-2
							li
								div.wave.wave-3

			//- div.info(ng-if='showInfo')
				//- div(ng-if='showCompass')
				//- 	div.row
				//- 		div.col-md-12
				//- 			div.compass_container
				//- 				span.compassText {{vm.requestMessage}}
				//- 				ul
				//- 					li
				//- 						div.compass_pointer
				//- 					li
				//- 						div.compass_dial

				//- div(ng-if='showText')
				//- 	div.row
				//- 		div.title.col-md-12
				//- 			| You Are Here
				//- 	div.row
				//- 		div.titles.col-md-12
				//- 			| SCANNING...		
				//- 	div.row
				//- 		div.coords.col-md-12
				//- 			| N {{vm.userPositionDMS.latitude}}
				//- 			br
				//- 			| E {{vm.userPositionDMS.longitude}}
				//- 	div.row
				//- 		div.titles.col-md-12
				//- 			| DISTANCE
				//- 	div.row
				//- 		div.coords.col-md-12
				//- 			| {{vm.linearDistanceMiles}} ML
				//- 	div.row
				//- 		div.titles.col-md-12
				//- 			| CONDITIONS
				//- 	div.row
				//- 		div.coords.col-md-12
				//- 			| {{vm.weather.description}}
				//- 			br
				//- 			| {{vm.weather.temperature}}° C
				//- 	div.row
				//- 		div.titles.col-md-12
				//- 			| LANDING
				//- 	div.row
				//- 		div.coords.col-md-12
				//- 			| {{vm.landing}} days

				
				//- div.adviceText(ng-if='showErrMessage') 
				//- 	| Ehi amico, il mare oggi non promette nulla di buono. Se cerchi un attracco sicuro lo 	trovi qui
			div
				div
					div.lighthouse

			div
				div
					block view-content

			div.footer
				div
					div.col-md-12.text.firstText
						| Soluzioni Web Elastiche  
						span.backslash //  
						| Applicativi Mobile-Oriented  
						span.backslash //  
						| Infrastrutture Cloud

				div
					div.col-md-12.text.secondText
						span.bold  MOLO17 SRL 
						span.backslash //  
						a(href="https://goo.gl/maps/WkMtGEgq9Ln", target="_blank") Via Pra' di Risi 17 - 33080 Zoppola PN - Italy
						span.backslash  // 
						span.bold  T 
						a(href="tel:+39 0434 1573057") +39 0434 1573057
						span.backslash  //  
						a(href="mailto:hello@molo17.com") hello@molo17.com