
section.row
	div.col-md-12
		div.row
			div.col-md-12
				div.company_logo
					| LOGO MOLO_17

		div.row
			div.col-md-12
				div.lighthouse

		div.row
			div.col-md-12
				div.wave_container
					div.waves
						ul
							li
								div.wave.wave-1
							li
								div.wave.wave-2
							li
								div.wave.wave-3

div.row
	div.col-md-12			
		block view-content
