
extends basic-template

block view-content

	div.row
		div.col-md-12
			div.ship.container
				div.ship_1.animate_ship

	div.row
		div.col-md-12
			ul
				li
					div.cloud.section-intro__cloud-1
				li
					div.cloud-2.section-intro__cloud-2
				li
					div.cloud.section-intro__cloud-3
				li
					div.cloud-2.section-intro__cloud-4
				li
					div.cloud-2.section-intro__cloud-5

	div.row
		div.col-md-12
			div.birds
				ul
					li
						div.bird.bird-1
					li
						div.bird.bird-2
					li
						div.bird.bird-3