
extends basic-template

block view-content

	div.row
		div.col-md-12
			div.sailboat-container
				div.sailboat.animate_sailboat.animate_sailboat_turn

	div.row
		div.col-md-12

			ul
				li
					div.cloud_1.section-intro__cloud_1
				li
					div.cloud_2.section-intro__cloud_2
				li
					div.cloud_1.section-intro__cloud_3
				li
					div.cloud_3.section-intro__cloud_4
				li
					div.cloud_3.section-intro__cloud_5

	div.row
		div.col-md-12
			div.seagulls
				ul
					li
						div.seagull.seagull_1
					li
						div.seagull.seagull_2
					li
						div.seagull.seagull_3