
extends basic-template

block view-content

	div
		div
			div.sky
	div
		div
			div.sailboat-container
				div.sailboat.animate_sailboat

	div
		div

			ul
				li
					div.cloud_1.section-intro__cloud_1
				li
					div.cloud_2.section-intro__cloud_2
				li
					div.cloud_2.section-intro__cloud_3
				li
					div.cloud_1.section-intro__cloud_4
				li
					div.cloud_2.section-intro__cloud_5

	div
		div
			div.seagulls
				ul
					li
						div.seagull.seagull_1
					li
						div.seagull.seagull_2
					li
						div.seagull.seagull_3