
extends basic-template

block view-content

	div
		div
			div.sky
		div
			div
				div.speed-boat_container
					div.speed-boat.animate_speed-boat

		div
			div
				div.stars
					ul
						li
							div.star_1
						li
							div.star_2