
extends basic-template

block view-content

	div.row
		div.col-md-12
			div.sky
		div.row
			div.col-md-12
					div.speed-boat.animation_speed-boat

		div.row
			div.col-md-12
				div.evening_stars
					ul
						li
							div.evening_star_1
						li
							div.evening_star_2