
extends basic-template

block view-content

	div.row
		div.col-md-12
			div.sky

		div.row
			div.col-md-12
				div.cruise-ship-container
					div.cruise-ship.animation_cruise-ship

		div.row
			div.col-md-12
				div.shooting_star

		div.row
			div.col-md-12
				div.stars
				div.stars2
				div.stars3
