
extends basic-template

block view-content

	div
		div
			div.sky

		div
			div
				div.cruise-ship-container
					div.cruise-ship.animate_cruise-ship

		div
			div
				div.comet

		div
			div
				div.stars
				div.stars2
				div.stars3
