
extends basic-template

block view-content

	div.sky

	div.cruise-ship-container
		div.cruise-ship.animate_cruise-ship
		
	div.comet

	//-div.alien

	div
		ul
			li
				div.stars
			li
				div.stars2
			//-li
				div.stars3
