<!-- build:js js/vendor.min.js -->

script(src='public/bower_components/angular/angular.min.js')
script(src='public/bower_components/angular-cookies/angular-cookies.min.js')
script(src='public/bower_components/angular-route/angular-route.min.js')
script(src='public/bower_components/angular-material/angular-material.js')
script(src='public/bower_components/angular-messages/angular-messages.js')
script(src='public/bower_components/angular-aria/angular-aria.js')
script(src='public/bower_components/angular-animate/angular-animate.js')
script(src='public/bower_components/api-check/dist/api-check.js')
script(src='public/bower_components/angular-formly/dist/formly.js')
script(src='public/bower_components/angular-formly-material/dist/formly-material.js')
script(src='public/bower_components/angular-material-data-table/dist/md-data-table.min.js')
script(src='public/bower_components/underscore/underscore-min.js')
script(src='public/bower_components/angular-hotkeys/build/hotkeys.min.js')
script(src='public/bower_components/Angular.uuid2/dist/angular-uuid2.js')
script(src='public/bower_components/trix/dist/trix.js')
script(src='public/bower_components/angular-trix/dist/angular-trix.min.js')
script(src='public/bower_components/angular-sanitize/angular-sanitize.min.js')
script(src='public/bower_components/moment/min/moment-with-locales.min.js')
script(src='public/bower_components/angular-moment/angular-moment.min.js')
script(src='public/bower_components/satellizer/satellizer.min.js')
script(src='public/bower_components/angular-sortable-view/src/angular-sortable-view.min.js')
script(src='public/bower_components/ng-rollbar/ng-rollbar.min.js')
//- script(src='public/bower_components/mathjs/dist/math.min.js')
//- 

<!-- endbuild -->

<!-- build:css css/vendor.min.css -->

script(src='public/bower_components/angular-material/angular-material.min.css')
script(src='public/bower_components/angular-hotkeys/build/hotkeys.min.css')
script(src='public/bower_components/angular-material-data-table/dist/md-data-table.min.css')
script(src='public/bower_components/trix/dist/trix.css')

//- 

<!-- endbuild -->